.newestinv {
    margin-top: 127px;
    background: #F6F6F8;
    padding-bottom: 127px;

    @media (max-width: 450px) {
        margin-top: 30px;
    }

    @media (max-width: 550px) {
        padding-bottom: 30px;

    }

    &__container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    &__header {

        padding-top: 134px;

        a {
            color: black;
        }

        h3 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 500;
            text-align: center;

            @media (max-width: 450px) {
                font-size: 35px;
                line-height: 45px;
            }
        }

        p {
            color: #7B7C8E;
            font-size: 20px;
            text-align: center;

            @media (max-width:450px) {
                font-size: 15px;
            }
        }

        @media (max-width: 450px) {
            padding-top: 30px;
        }
    }

    &__postschoice {
        margin-top: 79px;
        display: flex;
        justify-content: space-around;

        &-item {
            width: 30%;
            display: flex;
            justify-content: center;
            border-bottom: 2px solid #E2E3E6;
            cursor: pointer;

            p {
                color: #7B7C8E;
                font-weight: 600;
                padding-bottom: 8px;
            }

            &.active {
                border-bottom: 2px solid #00AEEF;

                p {
                    color: black;
                    font-weight: 600;
                }
            }
        }
    }

    &__posts {
        margin-top: 32px;
        display: flex;
        max-width: 1132px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        height: auto !important;


        @media (max-width: 1150px) {
            justify-content: center;
            max-width: 500px;
        }


        &-item {
            position: relative !important;
            width: 544px;
            height: 544px !important;
            margin-top: 32px;
            left: auto !important;
            top: auto !important;
            overflow: hidden;

            .spacer {
                position: absolute;
                bottom: 0;
                right: -20px;
                width: 40px;
                height: 100%;
                background: white;
                z-index: 100;
                display: none;

            }

            @media (max-width:500px) {
                margin-left: -20px;

                .spacer {
                    display: none;
                }
            }

            @media (max-width:400px) {
                max-width: 400px;

            }




        }

        &-box {
            position: absolute;
            bottom: 0;
            right: -1px;
            background: white;
            padding: 32px;
            height: 200px;
            width: 350px;

            p {
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
                color: #7B7C8E;
            }

            .more a {
                display: flex;
                font-size: 14px;
                align-items: center;
                color: #00AEEF;
                position: absolute;
                cursor: pointer;
                text-decoration: none;
                font-weight: 700;

                bottom: 22px;

                img {
                    margin-left: 5px;

                    width: 26px;

                }
            }

            h3 {
                font-weight: 600;
                color: #181A31;
                margin-top: 20px;
            }

            h5 {
                color: #7B7C8E;
                font-size: 14px;
                font-weight: 700;
            }


        }

        &-boxhead {
            display: flex;

            p.title {
                border-right: 1px solid #7B7C8E;
                padding-right: 15px;
                height: 13px;
            }

            p.date {
                margin-left: 15px;
            }
        }



        &.one,
        &.two {
            height: 575px !important;
        }

        &.three,
        &.four {
            height: 1150px !important;
            ;

            &-item {

                &:nth-child(3),
                &:nth-child(4) {
                    top: 575px !important;
                }
            }
        }

        &.three {
            &-item:nth-child(3) {
                left: 0 !important;
            }
        }

        @media (max-width: 1200px) {
            &.one {
                height: 575px !important;


            }

            &.two {
                height: 1150px !important;

                &-item {



                    &:nth-child(2) {
                        top: 575px !important;
                    }
                }

            }

            &.three {
                height: 1725px !important;

                &-item {



                    &:nth-child(2) {
                        top: 575px !important;
                    }

                    &:nth-child(3) {
                        top: 1150px !important;
                    }
                }


            }

            &.four {
                height: 2300px !important;

                &-item {


                    &:nth-child(2) {
                        top: 575px !important;
                    }

                    &:nth-child(3) {
                        top: 1150px !important;
                    }

                    &:nth-child(4) {
                        top: 1725px !important;
                    }
                }
            }
        }

        &-image {
            img {
                height: 544px;
                width: 536px;
                object-fit: cover;
                transition: 1s;
            }

            overflow: hidden;

            &:hover {
                img {
                    height: 574px;
                    width: 576px;
                    object-fit: cover;
                }
            }
        }

        &.morethanfour {
            max-height: 1156px !important;
            overflow: hidden;

            @media (max-width:1190px) {
                max-height: 2330px !important;
                overflow: hidden;
            }
        }

    }
}