* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.app-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    padding-top: 25px;

    &.sticky {
        padding-top: 88px;
    }

}


.header {
    z-index: 9999;

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(24, 26, 49, 1) 0%, rgba(69, 32, 48, 0) 100%);
        height: 198px;
    }


    &__menu {

        @media (max-width:900px) {
            transition: 0.5s ease all;
            height: 100%;


            &.open .header__menu-list {
                transform: translateY(0px);
                height: auto;
                visibility: visible;
                transition: 0.5s ease all;
            }

        }
    }

    &__menu-list {
        @media (max-width:900px) {

            background: #181a31ed;
            padding: 30px;
            transform: translateY(-400px);
            transition: 0.5s ease all;

            visibility: hidden;

            &.open {
                transform: translateY(0px);
            }

        }

        @media (max-width:600px) {
            width: 100vw;
            position: fixed;
            left: -15px;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        left: 50%;
        max-width: 1440px;
        position: relative;
        align-items: center;
        transform: translateX(-50%);
        height: 88px;
        z-index: 9999;
    }

    &__logo {
        z-index: 100;
        &-image {
            width: 199px;
        }

        @media(max-width:900px) {
            margin-left: 30px;

            &-image {
                width: 150px;
            }
        }
    }

    &__menu-ul {
        list-style: none;
        display: flex;

        li {
            margin-right: 25px;
            cursor: pointer;

            @media (max-width:900px) {
                margin-bottom: 20px;
            }

            a {

                text-decoration: none;
                color: white;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;
                transition: 0.3s ease all;

                @media (max-width:900px) {
                    font-size: 20px;
                }
            }

            &:hover a {
                color: #00AEEF;
            }

        }

        @media(max-width:900px) {
            flex-direction: column;
            position: relative;
            padding-top: 40px;
        }

        @media(max-width:600px) {
            padding-top: 70px;
        }

     
    }


    @media (max-width:1480px) {
        padding: 0px 15px;
    }

    @media(max-width:900px) {
        &__ham {
            position: fixed;
            right: 30px;
            top: 30px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: all .5s ease-in-out;
            z-index: 3;




            &-menubtn {
                width: 30px;
                height: 2px;
                background-color: white;
                border-radius: 5px;
                transition: all .5s ease-in-out;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    background: white;
                    border-radius: 5px;
                    transition: all .5s ease-in-out;
                }

                &::before {
                    transform: translateY(-10px);
                }

                &::after {
                    transform: translateY(10px);
                }

            }

            &.open .header__ham-menubtn {
                transform: translateX(-50px);
                background: transparent;
                box-shadow: none;
            }

            &.open .header__ham-menubtn::before {
                transform: rotate(45deg) translate(35px, -35px);
            }

            &.open .header__ham-menubtn::after {
                transform: rotate(-45deg) translate(35px, 35px);
            }


        }


    }

    @media (max-width:450px) {
        &__ham {

            right: 10px;
        }


    }
}