.main-background.front{
    height: 592px;
    width: 100vw;
    background-color: #181A31;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}


.main-banner {
    display: flex;
    justify-content: space-between;
    left: 45%;
    max-width: 1100px;
    position: relative;
    transform: translateX(-50%);

    @media (max-width:1150px) {
        padding:0px 15px;
    }

    @media (max-width:750px) {
        padding:0px 0px;
        flex-wrap: wrap;
    }



    &__header {
        position: relative;
        top: 73px;
        padding-left: 50px;
        @media (max-width:750px) {
            width: auto;
    left: 50%;
    transform: translateX(-50%);
    top:10px;
        }

        &-text {
            max-width: 400px;

            h1 {
                color: white;
                font-size: 64px;
                font-weight: 500;
                line-height: 65px;
                color: white;

                @media(max-width:900px) {
                    font-size: 35px;
                font-weight: 500;
                line-height: 45px;
                }
                @media(max-width:450px) {
                    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    padding-right: 30px;
                }
             
                
            }
        }

        &-content {
            display: flex;
            margin-top: 20px;
            cursor: pointer;
        }

        &-icon {
            display: flex;
            align-items: end;

            a {
                display: flex;
    align-items: flex-end;
    text-decoration: none;
            }

            p {
                color: #838490;
                font-size: 14px;
                margin-left: 7px;

            }

            img {
                width: 26px;
            }

        }

        .nd {
            margin-left: 20px;
        }

        &-button {
a {
    text-decoration: none;
}
            button {
                cursor: pointer;
                border: 0;
                background: #00AEEF;
                color: white;
                display: flex;
                align-items: center;
                width: 240px;
                height: 48px;
                justify-content: space-evenly;
                font-size: 16px;
                margin-top: 48px;
                transition: 0.5s ease all;

                img {
                    width: 28px;
                }

                &:hover {
                    background: transparent;
                    border: 2px solid #00AEEF;
                }
            }
        }
    }

    &__slider {
        position: relative;
        z-index: -1;
        left: 48px;
        margin-top: 20px;

        @media (max-width:750px) {
            left:0px;
            margin-top: 50px;
        }
    

        &-item {
            position: relative;
        }

        &-box {
            position: absolute;
            top: 272px;
            left: 54px;
            background: white;
            padding: 32px;
            top: 272px;
            left: 54px;
            height: 200px;
            min-width: 325px;
            max-width: 375px;

            p {
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
                color: #7B7C8E;
            }

            .more a {
                display: flex;
                font-size: 14px;
                align-items: center;
                color: #00AEEF;
                position: absolute;
                cursor: pointer;
                text-decoration: none;
                font-weight: 700;

                bottom: 32px;

                img {
                    margin-left: 5px;

                    width: 26px;

                }
            }

            h3 {
                font-weight: 600;
                color: #181A31;
                margin-top: 20px;
            }

            h5 {
                color: #7B7C8E;
                font-size: 14px;
                font-weight: 500;
            }

        }

        .slick-track {
            display: flex !important;
        }





&-image {
    height: 532px;
    width: 832px;
    object-fit: cover;
}

    }

    &__swapper {
        display: flex;
        position: absolute;
        bottom: 10px;
        width: 140px;
        justify-content: space-between;
        padding-left: 50px;
        

        @media (max-width:750px) {
            padding-left: 0;
            bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    position: static;
    margin-left: 50%;
 
        }
        


        &-left {
            background: transparent;
            border: 0;
            cursor: pointer;
            margin-right: 10px;

        }

        &-right {

            background: transparent;
            border: 0;
            bottom: -30px;
            cursor: pointer;
            margin-left: 10px;

        }

        &-dots {
            .slick-dots {
                display: flex !important;
                position: relative !important;
                bottom: -5px;

                li {
                    margin: 0;
                }

                li.slick-active button:before {
                    font-size: 12px;
                    color:#00AEEF;
                }
                li button:before {
                    font-size: 8px;
                    color:gray;
                }
            }
        }

    }
}